<body>
    <h1>Administrator Page</h1>
    <div id="uploads">
        <h2>Upload Video</h2>
        <div id="leftColumn">
            <h3>Select Video</h3>
            <form action="#" id="myForm" method="POST" enctype="multipart/form-data">
                <input type="file" id="inpFile" accept="video/*" name="file">
            </form>
            <h3>Select Thumbnail</h3>
            <form action="#" id="myThumbnailForm" method="POST" enctype="multipart/form-data">
                <input type="file" id="inpImageFile" accept="image/*" name="file">
            </form>
            <h3>Select Cited-Sources Pdf</h3>
            <form action="#" id="myPdfForm" method="POST" enctype="multipart/form-data">
                <input type="file" id="inpPdfFile" accept="pdf/*" name="file">
                <p id="responseText">-</p>
            </form>
        </div>
        <div id="rightColumn">
            <p id="titleTitle">Title:</p>
            <input type="text" id="titleText">
            <p id="descriptionTitle">Description:</p>
            <textarea cols="25" rows="5" id="descriptionText"></textarea>
            <input id="submitBtn" (click)="uploadVid()" type="submit">
        </div>
        <div>
            <progress id="progressBar" value="0" max="100"></progress>
        </div>
    </div>
</body>