<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INNOVA</title>
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body id="page-top" data-spy="scroll">
    <!-- Header -->
    <header id="header">
        <div class="intro" id="top-intro">
            <div class="overlay" id="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 intro-text"><br>
                            <p id="top-subtitle">"Those who don't know history are doomed to repeat it."<br>-Edmund
                                Burke</p>
                            <a href="#about" class="btn btn-custom btn-lg page-scroll">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Get Touch Section -->
    <div id="get-touch">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-1">
                    <h3>Check out the latest podcast</h3>
                    <p id="newestEpisodeTitle"></p>
                    <p id="newestEpisodeDescription"></p>
                </div>
                <div class="col-xs-12 col-md-4 text-center">
                    <video id="latestVideo" type="video/mp4" controls preload="auto" allowfullscreen="allowfullscreen">
                    </video>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6"> <img src="../../assets/img/about-tori.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="about-text">
                        <h2>Who We Are</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h3>What You Can Expect</h3>
                        <div class="list-style">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li>Historical Accuracy</li>
                                    <li>Inspired Teaching</li>
                                    <li>Cited Sources</li>
                                    <li>Constitionally Republic Worldview</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li>Christian Principles</li>
                                    <li>Passionate Speakers</li>
                                    <li>Honor for historical figures</li>
                                    <li>Patriotism</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="about-text">
                        <h2>What We Do</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <h3>How You Can Expect It</h3>
                        <div class="list-style">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li>Debunk Historical Inaccuracies</li>
                                    <li>Restore Patriotic Pride</li>
                                    <li>Educate</li>
                                    <li>Call to Action</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li>Never Compromise</li>
                                    <li>Never Relent</li>
                                    <li>Always Persevere in Truth</li>
                                    <li>Always Hope for Restoration</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6"> <img src="../../assets/img/about-jason.JPG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section -->
    <div id="archive">
        <div class="container" id="container">
            <div class="section-title">
                <h2>Archive</h2>
            </div>
            <div id="archiveSection">
                <div id="mediaPlayer">
                    <div id="videoMediaPlayer">
                        <div id="video" class="service-media">
                            <h3 id="archiveVideoTitle"></h3>
                            <video id="currentArchiveVideo" type="video/mp4" controls preload="auto"
                                allowfullscreen="allowfullscreen">
                            </video>
                            <div class="service-desc">
                                <p id="archiveVideoDescription"></p>
                            </div>
                        </div>
                    </div>
                    <div id="otherVideos">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Section -->
    <!-- <div id="sources">
        <div class="container">
            <div class="section-title">
                <h2>Table of Contents</h2>
            </div>
            <div class="row">
                <div class="sources-items">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 1</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Write something here...</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 2</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Adipiscing Elit</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 3</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Lorem Ipsum</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 4</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Lorem Ipsum</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 5</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Adipiscing Elit</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 6</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Dolor Sit</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 7</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Dolor Sit</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 8</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Lorem Ipsum</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="sources-item">
                            <h4 id="episode-title">Episode 9</h4>
                            <div class="hover-bg"> <a href="../../assets/img/sources/01-large.pdf" title="Project Title"
                                    data-lightbox-gallery="gallery1">
                                    <div class="hover-text">
                                        <h4>Adipiscing Elit</h4>
                                    </div>
                                    <img src="../../assets/img/sources/01-small.jpg" class="img-responsive"
                                        alt="Project Title">
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Testimonials Section -->
    <div id="worldview">
        <div class="container">
            <div class="section-title">
                <h2>Worldview</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial">
                        <div class="testimonial-image"> <img src="../../assets/img/testimonials/01.jpg" alt=""> </div>
                        <div class="testimonial-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial">
                        <div class="testimonial-image"> <img src="../../assets/img/testimonials/02.jpg" alt=""> </div>
                        <div class="testimonial-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sedasd commodo nibh ante facilisis."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial">
                        <div class="testimonial-image"> <img src="../../assets/img/testimonials/03.jpg" alt=""> </div>
                        <div class="testimonial-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
                        </div>
                    </div>
                </div>
                <div class="row"> </div>
                <div class="col-md-4">
                    <div class="testimonial">
                        <div class="testimonial-image"> <img src="../../assets/img/testimonials/04.jpg" alt=""> </div>
                        <div class="testimonial-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial">
                        <div class="testimonial-image"> <img src="../../assets/img/testimonials/05.jpg" alt=""> </div>
                        <div class="testimonial-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial">
                        <div class="testimonial-image"> <img src="../../assets/img/testimonials/06.jpg" alt=""> </div>
                        <div class="testimonial-content">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare
                                diam sedasd commodo nibh ante facilisis."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section -->
    <div id="contact">
        <div class="container">
            <div class="col-md-8">
                <div class="row">
                    <div class="section-title-contact">
                        <h2>Get In Touch</h2>
                        <p>Please fill out the form below to send us an email and we will get back to you as soon as
                            possible.</p>
                    </div>
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="name" class="form-control" placeholder="Name"
                                        required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" placeholder="Email"
                                        required="required">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message"
                                required></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div id="success"></div>
                        <button (click)="sendEmail()" type="submit" id="submitButton" class="btn btn-custom btn-lg">Send
                            Message</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 contact-info">
                <div class="contact-item">
                    <h4>Contact Info</h4>
                    <p><span>Address</span>4321 Michigan St,<br>
                        West Bloomfield, MI 48345</p>
                </div>
                <div class="contact-item">
                    <p><span>Phone</span> +1 123 456 1234</p>
                </div>
                <div class="contact-item">
                    <p><span>Email</span> info@company.com</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>